[Desktop Entry]
Version=1.0
Name=GlyphVisualizer
X-AppImage-Name=GlyphVisualizer
Comment=Visualizes 'Glyph Composer' compositions on desktop
TryExec=GlyphVisualizer
Exec=GlyphVisualizer
Icon=GlyphVisualizer
Type=Application
Keywords=Nothing;Glyph;Composition;glypha;glyphc1;nglyph;NGlyph
NoDisplay=false
Terminal=false
Categories=Utility;Viewer;Graphics;Qt;
X-AppImage-Arch=x86_64