name: Release

on:
  workflow_dispatch:

jobs:
  build_windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      # Install Qt and setup MSVC - installation of Ninja is not needed, because it is already installed on the Windows image (in MSVC)
      - name: Install Qt6.6.0
        uses: jurplel/install-qt-action@v3
        with:
          # See https://ddalcino.github.io/aqt-list-server/
          aqtversion: '==3.1.*'
          version: '6.6.0'
          modules: 'qtmultimedia'
      - name: Setup MSVC for C++
        uses: ilammy/msvc-dev-cmd@v1
        with:
          vsversion: '2019'
      
      # Checkout + Build
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        # No need to set CMAKE_PREFIX_PATH, because install-qt-action did the work for us
        run: cmake -G Ninja "-DCMAKE_BUILD_TYPE:STRING=Release" -S . -B build && cmake --build build --config Release
      
      # Package with windeployqt + zip
      - name: Use windeployqt
        run: mkdir GlyphVisualizer && cp build\GlyphVisualizer.exe GlyphVisualizer && windeployqt --release GlyphVisualizer\GlyphVisualizer.exe
      - name: Create zip
        run: powershell -Command "Compress-Archive -Path GlyphVisualizer -DestinationPath GlyphVisualizer_windows64x.zip"
      
      # Calculate checksum + upload
      - name: Calculate Checksum
        run: powershell -Command "$(CertUtil -hashfile GlyphVisualizer_windows64x.zip SHA256)[1] -replace ' ','' | tee GlyphVisualizer_windows64x.zip.sha256"
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: GlyphVisualizer_windows64x
          path: |
            GlyphVisualizer_windows64x.zip
            GlyphVisualizer_windows64x.zip.sha256